* {
	box-sizing: border-box;
	font-size: 14px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.authorize-buttons {
	position: absolute;
	top: 0;
	right: 0;
	padding: 16px;
}

.search-word-wrapper {
	margin-bottom: 16px;
}

.highlighted-text {
	background: #fffc90;
}

ul {
	padding: 0;
	margin: 0;
}

.sentence-column {
	list-style: none;
	padding: 0;
	margin: 0;
	/*line-height: 24px;*/
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.classic-button {
    border: none;
    background: #f9789b;
    color: white;
    padding: 8px;
    margin: 0;
    border-radius: 4px;
    box-shadow: 0px 0px 2px #aaa;
	outline: none;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
}

.classic-button:hover {	
	background: #d8406a;
	box-shadow: 0px 0px 8px #aaa;	
}

.classic-button[disabled] {
    background: #f5dcf1;
    box-shadow: 0px 0px 2px #aaa;
	cursor: default;
}

.icon-button {
    background: #888888;
    border: none;
    color: white;
    border-radius: 50%;
    min-width: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0;
    margin: 0;
    box-shadow: 0px 0px 2px #aaa;
	outline: none;
    margin-right: 8px;	
	cursor: pointer;
	transition: all 0.15s ease-in-out;
}

.icon-button:hover {	
    background: #555555;
	box-shadow: 0px 0px 8px #aaa;	
}

.icon-button--select-sentense {	
    background: #8fca00;
}

.icon-button--select-sentense:hover {
    background: #3f9001;
}

.icon-button--add-context {	
    background: #ffa217;
}

.icon-button--add-context:hover {
    background: #e28800;
}

.icon-button--remove-context {	
    background: #53c1da;
}

.icon-button--remove-context:hover {
    background: #03add4;
}

.list-item--context {
	list-style: none;
}

.label--add-context {
	font-size: 12px;
}

.context-list {
	position: relative;
	padding-top: 24px;
	padding-left: 26px;
	padding-bottom: 2px;
	width: 100%;
}

.flex-row--add-context {
	cursor: pointer;
	position: absolute;
	top: 2px;
	left: 26px;
}

.two-column-row {
	display: flex;    
	justify-content: space-between;
    height: calc(100vh - 108px);
}

.two-column-row__column {	
    width: calc(50% - 8px);
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 8px;
}

.two-column-row__column--second {
	border: none;
    padding: 0;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.half-column {
	position: relative;
    border: 1px solid #ccc;
    padding: 8px;
    height: calc(50% - 8px);
    overflow-y: scroll;
}

.half-column--second {
    padding-top: 64px;	
}

#form-link {
	line-height: 24px;
}

.create-form-controls {
	position: absolute;
	top: 8px;
	left: 8px;
}

.one-word {
    background-color: #fefefe;
    border: 1px solid #ddd;
    padding: 2px;
	cursor: pointer;
	border-radius: 2px;
}

.one-word:hover {
    background-color: #efefef;
}

.one-word--selected,
.one-word--selected:hover {
    background-color: #fffc90;
}

input[type="checkbox"] {
	cursor: pointer;
}

.sentence-label {
	line-height: 26px;
}

#statistics {
	display: flex;
    flex-wrap: wrap;
}

.answer-row {
    display: flex;
}

.answer-row__word {
    border: 1px solid #dddd;
    padding: 8px;
    width: 200px;
    border-bottom: 0;
}

.answer-row__count {
    padding: 8px;
    border: 1px solid #ddd;
    width: 130px;
    border-left: 0;
    border-bottom: 0;
}

.answer-row:last-child {
    border-bottom: 1px solid #ddd;
}

.question-container {
    margin-left: 16px;
}

.action-link {
	margin-right: 8px;
}

.save-id-text {
	font-weight: bold;
}