.creative .polytable {
	border-collapse: collapse;
	border: 1px black solid;
	float: left;
}

.creative .polytable td {
	width: 32px;
	height: 32px;
	border: 1px black solid;
	cursor: pointer;
}

.creative .empty-cell {
	background-color: white;
}

.creative .border-cell {
	background-color: black;
}

.creative .polyomino-area {
	padding: 0 32px 32px;
}


is-small-screen .creative .polyomino-area {
	margin-left: 32px;
	padding-top: 0px;
}


.creative .statistic {
	margin: 16px 0;
	display: flex;
	align-items: center;
}

.creative .flexBarrier {
	width: 100%;
	height: 16px;
}

.creative #resetBarrierCells {
	margin-left: 16px;
}

.creative .arrow-td, .arrow-tr {
	border: none !important;
	border-image-width: 0 !important;
	vertical-align: middle;
	cursor: default !important;
}

.creative .arrow-div {
	outline: none;
}

.creative .arrow-bottom {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid black;
	cursor: pointer;
}

.creative .arrow-right {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid black;
	cursor: pointer;
}

.creative .arrow-top {
	width: 0;
	height: 0;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	border-bottom: 20px solid black;
	cursor: pointer;
}

.creative .arrow-left {
	width: 0;
	height: 0;
	border-bottom: 20px solid transparent;
	border-top: 20px solid transparent;
	border-right: 20px solid black;
	cursor: pointer;
}

.creative .good {
	color: #47DE17;
}

.creative .bad {
	color: red;
}

.creative .solutionPieces {
	position: relative;
	display: flex;
	max-width: 50%;
	flex-wrap: wrap;
}

.creative table.piece {
	border-collapse: collapse;
	margin: 4px;
	cursor: pointer;
	float: left;
}

.creative .piece td {
	width: 32px;
	height: 32px;
}

.creative .solutionArea {
	position: relative;
	/*display: flex;*/
	width: 100%;
	/*flex-wrap: wrap;*/
}

.creative .solutionArea:after {
	content: '';
	clear: both;
	display: block;
}

.creative .over {
	border: 2px dashed #000;
}

.creative .game {
	border: 1px black solid;
	width: 280px;
	height: 280px;
}

.creative .creative-buttons {
	display: flex;
	align-items: center;
}

.creative .creative-buttons > * {
	margin-right: 32px;
}